extends layout
block navTop
  if soundcloudURL
    div(class="nav-right")
      span(class="nav-item")
        a(class="button is-dark" href= "https://soundcloud.com/" + soundcloudURL target="_blank")
          span(class="icon is-marginless")
            i(class="fa fa-soundcloud")
          span  Powered by SoundCloud
block content
  div.content#loading.has-text-centered: h1 Epilepsy warning.
    h2 Loading song...
  div(id="visContainer")
  div(style="visibility:hidden;" id="overlay")
    div.columns.is-mobile
      div.column.is-1(style="width: 132px")
        figure(class="image is-128x128")
          img(id="artwork_url")
      div.column
        div(style="position: fixed; bottom: 10px;")
          h1(id="title" class="is-marginless")
          a(id="purchase_url" class="button is-dark")
            span(class="icon")
              i(class="fa fa-usd")
            span Buy
block bottom
  if soundcloudURL
    script(src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js")
  script.
    var soundcloudURL = '#{soundcloudURL}' || false
    var CLIENT_ID = '#{CLIENT_ID}' || false
    if (soundcloudURL) {
      soundcloudURL = 'https://soundcloud.com/' + soundcloudURL
      console.log('Requesting ' + soundcloudURL)
      }
  script(src="/js/visualiza.js")
    
